<style>
    .download-sol {
        background-color: rgb(33, 34, 37);
        margin-bottom: 20px;
        margin-top: -5px;
        border-radius: 10px;
        color: rgb(63, 64, 67);
    }
    .download-sol:hover {
      color: rgb(63, 64, 67);
    }
    .list-group-item {
      color: rgb(63, 64, 67);
    }
</style>
{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "download" %}
{% assign group_index = include.id %}
{% assign dn = include.dn %}
<div class="download-sol">
    <!-- top-category -->
    <div id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom">
      <span>
        <i class="fa-sharp fa-solid fa-download"></i>
        <span class="text-muted small font-weight-light ml-2">
            {{include.name}}
        </span>
      </span>

      <!-- arrow -->
      {% if include.url %}
      <a href="#{{ LIST_PREFIX }}{{ group_index }}" data-toggle="collapse"
        aria-expanded="true" aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
        class="category-trigger hide-border-bottom">
        <i class="fas fa-fw fa-angle-down"></i>
      </a>
      {% endif %}

    </div> <!-- .card-header -->

    <!-- Sub-categories -->
    {% if include.url != null %}
    <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse " aria-expanded="true">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="" class="ml-1 mr-2">{{ iclude.url }}</a>
          <span class="text-muted small font-weight-light">
            {% if dn == null %}
            <a href="{{include.url}}" onclick="location.href='{{include.url}}';">Скачать файл</a>
            {% else %}
            <a href="{{include.url}}" onclick="location.href='{{include.url}}';">{{dn}}</a>
            {% endif %}

          </span>
        </li>
      </ul>
    </div>
    {% endif %}

  </div> <!-- .card -->