<style>

    .dsq-widget-list {
        overflow-y: scroll;
        height: 350px;     
        border-radius: 20px; 
        border: 1px solid rgb(44, 45, 45); 
        padding: 30px;margin-bottom: 30px;
        padding-top: 10px;padding-bottom: 10px;
        margin-top: -20px;

    }
    .dsq-widget-list::-webkit-scrollbar{
        width: 0;
    }
    li.dsq-widget-item {
        margin: 0px;

        img {
            border-radius: 50px;
            height: 24px;
            width: 24px;
            margin-right: 5px;
        }
    }
    .dsq-widget-item {    
        overflow: hidden;
    }
    .dsq-widget-item {
        font-size: 16px;  
   
    }
    .dsq-widget-user::after {
        content:'\A';
        font-size: 14px;
        color: rgb(65, 68, 74);
        margin-left: 10px;
    }
    .dsq-widget-user {
        color:rgb(134, 134, 141)!important;
    }
    .dsq-widget-meta {
        visibility:hidden;
        margin: -20px!important;
    }
    .dsq-widget-comment p {
        margin-top: 10px!important;
        line-height: 20px;
        display: block!important;  
    }
    .dsq-widget-comment {
        padding-top: -40px!important;
        margin-left: -50px;
        max-width: 100px;
        margin: 12px;
        border-radius: 25px;
        padding: 5px;
        color:rgba(170, 171, 172, 0.788);
        font-size: 14px;
        

    }
</style>
<script>
   

</script>
<script type="text/javascript" src="https://solicen.disqus.com/recent_comments_widget.js?num_items=3&hide_avatars=0&avatar_size=40&excerpt_length=100"></script>
