<link rel="stylesheet" href="/assets/css/downloadBlock.css" />

<style>
  .dButton {
    background: rgb(57, 149, 235);
  }
  .dButton:hover {
    background: rgb(41, 184, 41); 
  }
  .glassmorphism {
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  }
</style>

{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign mLast = page.last_modified_at | date: "%-m" | minus: 1 %}

{% if page.sideInfo %}
<div class="item-info downloadBtn" style="border-radius: 10px; border: 1px solid rgb(44, 45, 45); padding: 12px">
  {% for item in page.sideInfo %}
  {% if item[1].style == 1 %}
  <div onclick="window.open('{{item[1].url}}')" class="infoDiv download-sol dButton glassmorphism" style="cursor: pointer; margin: 10px; margin-bottom: 5px; border-radius: 13px; border:1px solid rgb(78, 84, 90);">
    <!-- top-category -->
    <div id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom">
      <div style="color:white;">
        <span style="font-size: 14px;">{{item[1].title}}</span>
      </div>
      <span class="small" style="font-size: 12px; color:white; opacity: 50%; vertical-align: super; margin-top: 2px;">
        {{item[1].version}}
      </span>
    </div> <!-- .card-header -->
  
    <!-- Sub-categories -->
    {% if include.url != null %}
    <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse " aria-expanded="true">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="" class="ml-1 mr-2">{{ iclude.url }}</a>
          <span class="text-muted small font-weight-light">
            {% if dn == null %}
            <a href="{{include.url}}" onclick="location.href='{{include.url}}';">Скачать файл</a>
            {% else %}
            <a href="{{include.url}}" onclick="location.href='{{include.url}}';">{{dn}}</a>
            {% endif %}
  
          </span>
        </li>
      </ul>
    </div>
    {% endif %}
  
  </div> <!-- .card -->
  {% endif %}
  {% if item[1].style == 0 %}
  <div style="margin-bottom: 5px; padding: 0px;">
    <!-- top-category -->
    <div id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom">
      <div style="font-size: 10px; color:rgb(57, 149, 235)">
        <span style="font-size: 16px;  text-transform: capitalize;">{{item[1].header}}</span><br>
        <span style="font-size: 14px; color: rgb(170, 170, 171)">{{item[1].title}}</span>
        <span></span>
      </div>
    </div> 
  </div> <!-- .card -->
  {% endif %}
  {% endfor %}  
</div>
{% endif %}
{% if page.date %}
<div class="item-info" style="border-radius: 15px; border: 1px solid rgb(44, 45, 45); padding-left: 12px; padding-right: 12px;">
  <div class="infoDiv" style="margin-bottom: 5px; padding: 0px;">
    <!-- top-category -->
    <div id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom">
      <div style="font-size: 10px; color:rgb(57, 149, 235)">
        <span style="font-size: 16px;  text-transform: capitalize;">Опубликовано</span><br>
        <span style="font-size: 14px; color: rgb(170, 170, 171)">
          <!-- localizated date -->
          <span>{{ page.date | date: "%-d" }}</span>
          <span style="text-transform: lowercase;">{{ site.months[m] }}</span>
          <span>{{ page.date | date: "%Y" }} года</span>
        </span>
      </div>
    </div> 
  </div> <!-- .card -->
  {% if page.last_modified_at %}
  <div class="" style="margin-bottom: 5px; padding: 0px;">
    <!-- top-category -->
    <div id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom">
      <div style="font-size: 10px; color:rgb(57, 149, 235)">
        <span style="font-size: 16px;  text-transform: capitalize;">Обновлено</span><br>
        <span style="font-size: 14px; color: rgb(170, 170, 171)">
          <!-- localizated date -->
          <span>{{ page.last_modified_at | date: "%-d" }}</span>
          <span style="text-transform: lowercase;">{{ site.months[mLast] }}</span>
          <span>{{ page.last_modified_at | date: "%Y" }} года</span>
        </span>
      </div>
    </div> 
  </div> <!-- .card -->
  {% endif %}
</div>
{% endif %}