<link rel="stylesheet" href="/assets/css//screenshosts.css" />

{% if page.gallery %}
  <div class="post" style="margin-top: -15px; ;">
    <div class="panel-heading" style="margin-left: 10px;"></div>
    <ul class="post-content post-screen pl-0 pb-1 ml-1 mt-2">
      {% if page.gallery %}
      {% assign slug = page.gallery %}
      {% for image in site.static_files %}
      {% if image.path contains 'assets/img/gallery/' %}
      {% if image.path contains slug %}
      <a href="{{ image.path }}" class="popup img-link preview-img lazyload">
        <img src="{{ image.path }}" style="border-radius: 10px;" class="popup lazyload img-c" loading="lazy" alt="Изображение с сайта {{site.title}} - {{page.title}} - SolicenTEAM - Команда Солицена">
      </a>

      {% endif %}
      {% endif %}
      {% endfor %}
      {% else %}
      {% for item in page.screenshots %}
      <a class="photoswipe"  href="{{ include.url }}" target="_blank" data-pswp-width="{{ include.full_width }}" data-pswp-height="{{ include.full_height }}">
        <img src="{{item}}" class="screenshot" onclick="location.href='{{item}}'" {{ lqip | strip }}>
      </a>
      {% endfor %}
      {% endif %}
  </ul>
  </div> <!-- Screenshots -->

{% endif %}