<link rel="stylesheet" href="/assets/css/small-gallery.css" />
{% if page.gallery %}
  <div class="post">
    <div class="panel-heading"></div>
    <ul class="post-content s-screen pl-0 pb-1 ml-1 mt-2">
      {% if page.gallery %}
      {% assign slug = page.gallery %}
      <div class="box-card-grid row">
      {% for image in site.static_files %}
      {% if image.path contains 'assets/img/gallery/' %}
      {% if image.path contains slug %}
        <div class="box-card-div">
            <a href="{{ image.path }}" class="popup img-link preview-img lazyload s-image">
                <img src="{{ image.path }}" class="popup lazyload s-image" loading="lazy" alt="Solicen — {{slug}} image">
              </a>
        </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      </div>
      {% else %}
      {% endif %}
  </ul>
  </div> <!-- Small-Screenshots -->

{% endif %}