---
layout: page
# The Home page layout
---

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<style>
  .category:hover {
    color:rgb(50, 152, 230);
  }
  .borderPC {
    border-radius: 15px;
    background-color: rgb(30, 31, 34);
    margin-top: 20px;
    transition: 0.5s;
  }

  @media (min-width: 576px){       
    #post-list .post-preview {
      border-bottom: 0px;
    }
  }
  @media (max-width: 576px){
    .borderPC {
      border-radius: 0px;
      background-color: transparent;
      margin-top: 0px;
    }
  }
    
</style>
<style>
  #post-list {
    display: flex;
    margin: 0;
    margin-top: 20px;
    margin-left: -2px;
    display: flex!important;
    grid-template-columns: 65% auto; 
    gap:20px;
    padding: 0;
    flex-flow: wrap;
  }
</style>
<div id="post-list">
{% for post in posts %}
    
  <div class="post-preview" style="padding-bottom: 20px; padding-top: 20px;">
    
    {% if post.image %}
    <div class="mt-3 mb-3" style="height: 140px; width: 100%; overflow: hidden;" onclick="location.href='{{post.url}}'">
      <img src="{{post.image}}" style="background-size: cover; width: 100%; aspect-ratio: 40 / 21; object-fit: cover;" alt="{{post.url}}">
    </div>
    {% endif %} 
    <h1 class="mb-2" style="padding-left: 20px; padding-right: 20px;">
      <a style="color:rgb(201, 204, 207); font-size: 24px; font-weight: 700;" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>
    {% if post.titleVideo != null %}
    <div class="mt-3 mb-3" style="height: auto; overflow: hidden; margin-left: 20px; margin-right: 20px;">
      {% include embed/youtube.html id=post.titleVideo %}
    </div>
    {% endif %}
    <div class="post-content" style="padding-left: 20px; padding-right: 20px; font-size: 17px; line-height: 1.45;">
      <p>
        {% if post.text != null %}
          {% include no-linenos.html content=post.text %}
          {{ content | markdownify | strip_html | truncate: 200 | escape }}
        {% endif %}

        {% if post.text == null %}
          {% include no-linenos.html content=post.content %}
          {{ content | markdownify | strip_html | truncate: 200 | escape }}
        {% endif %}
      </p>
    </div>
    <div class="post-meta text-muted d-flex" style="padding-left: 20px; padding-right: 20px;">
      <div class="mr-auto">
        
        <i class="fa-solid fa-comment mr-4" id="comment" onclick="location.href='{{post.url}}#disqus_thread'" >
          <span href="{{post.url}}#disqus_thread" style="font-weight: 700;" class="count-comments" data-disqus-url="{{post.url}}" id="{{post.url}}">0</span>
          <!-- <span style="font-weight: 700;" class="count-comments-add" id="{{post.url}}|"></span> -->
        </i>

        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}

        <!-- categories -->
        {% if post.categories.size > 0 %}
          <i class="far fa-folder-open fa-fw"></i>
          <span>
          {% for category in post.categories %}
            <span style="cursor: pointer; text-transform: lowercase;" class="category" onclick="location.href='/categories/{{category}}'">{{ category }}</span>
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}

      </div>

      {% if post.pin %}
      <div class="pin" style="background-color: transparent;">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
      </div>
      {% endif %}
      
    </div> <!-- .post-meta -->

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
{% include disqus.html %}