---
layout: page
refactor: true
panel_includes:
tail_includes:
  - related-posts
  - post-nav
  - comments
---
{% if page.thumbnail != null %}

{%endif%}

<style>
  .btn-outline-primary {
    background-color: rgba(39, 40, 43, 0.411);
    p {
      color: rgba(175, 176, 177, 0.699)!important;
    }
  }
</style>

<h1 data-toc-skip style="color:rgb(255, 255, 255); font-size: 36px; font-weight: 700; margin-bottom: 5px;">{{ page.title }}</h1>
    <!-- categories -->
    {% if page.categories.size > 0 %}
    <div class="post-meta mb-3" style="font-size: 16px; margin-left: -3px;">
        <i class="fa-fw mr-1"></i> {% for category in page.categories %}
        <a style="color: rgb(60, 162, 255); text-transform: capitalize;" href='{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/'>{{ category }}</a> {%- unless forloop.last -%}, {%- endunless -%} {% endfor %}
    </div>
    {% endif %}
    
    <!-- ImageSlider (WIP) -->
    <div class="noScreen" style="margin-bottom: 20px;">
      {% include ImageSlider.html %}
      <!-- Small Screen -->
      <div class="small-rSidebar">
      
      {% include r_sidebar.html %} 
      {% include buyMeCoffee.html disableSub=true %} 
      </div>
  </div>

<div class="post-meta text-muted">
    <!-- published date -->
    <span>
      {{ site.data.locales[site.lang].post.posted }}
      {% include datetime.html date=page.date tooltip=true %}
    </span>

    <!-- lastmod date -->
    {% if page.last_modified_at %}
    <span>
      {{ site.data.locales[site.lang].post.updated }}
      {% include datetime.html date=page.last_modified_at tooltip=true %}
    </span> {% endif %} 
    
    {% if page.image %} {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %} {% capture class %}class="preview-img{{ ' no-bg' }}"{% endcapture %} {% capture alt
    %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %} {% capture lqip %} {% if page.image.lqip %} lqip="{{ page.image.lqip }}" {% endif %} {% endcapture %}

    <div class="mt-3 mb-3">
        <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip | strip }}> {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
        {%- endif -%}
    </div>
    {% endif %}

    <div class="d-flex justify-content-between">
        <!-- author(s) -->
        <span>
      {% if page.author %}
        {% assign authors = page.author %}
      {% elsif page.authors %}
        {% assign authors = page.authors %}
      {% endif %}

      {{ site.data.locales[site.lang].post.written_by }}

      <em>
      {% if authors %}
        {% for author in authors %}
          <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
          {% unless forloop.last %}</em>, <em>{% endunless %}
        {% endfor %}
      {% else %}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
      {% endif %}
      </em>
    </span>

        <div>
            <!-- page views -->
            {% if site.google_analytics.pv.proxy_endpoint or site.google_analytics.pv.cache_path %}
            <span>
        <em id="pv" class="pageviews">
          <i class="fas fa-spinner fa-spin fa-fw"></i>
        </em>
        {{ site.data.locales[site.lang].post.pageview_measure }}
      </span> {% endif %}

            <!-- read time -->
            {% include read-time.html content=content prompt=true %}
        </div>

    </div>
    <!-- .d-flex -->

</div>
<!-- .post-meta -->

<div class="post-content">
    {% if page.future %}
    <h3>Предварительно заготовленная страница. </h3>
    <p>Данный перевод еще не готов, следите за новостями в нашем Discord, или группе VK.</p>
    {% endif %} {{ content }} {% if page.gallery %}

    {% endif %}
</div>

<div class="post-tail-wrapper text-muted">


    <!-- tags -->
    {% if page.tags.size > 0 %}
    <div class="post-tags">
        <i class="fa fa-tags fa-fw mr-1"></i> {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/" class="post-tag no-text-decoration">
        {{- tag -}}
      </a> {% endfor %}
    </div>
    {% endif %}

    <div class="post-tail-bottom
    d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
        <div class="license-wrapper">

            {% if site.data.locales[site.lang].copyright.license.template %} {% capture _replacement %}
            <a href="{{ site.data.locales[site.lang].copyright.license.link }}">
          {{ site.data.locales[site.lang].copyright.license.name }}
        </a> {% endcapture %} {{ site.data.locales[site.lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }} {% endif %}
        </div>

        {% include post-sharing.html %}
    </div>
    <!-- .post-tail-bottom -->

</div>
<!-- div.post-tail-wrapper -->

<style>
  #core-wrapper {
    img {
    margin-top: 25px;
    border-radius: 20px;
  }
  }
</style>
<style>
  .noScreen {
      display: none;  
      div {
        padding: 6px;
      }
  .small-rSidebar {
    margin: 0;
    margin-top: 20px;
    margin-left: -2px;
    display: flex; 
    grid-template-columns: 65% auto; 
    gap:20px!important;
    padding: 0;
    flex-flow: wrap;

    margin-bottom: 20px;
  }

  .downloadBtn { flex:1; }
  .item-info:nth-child(3) { grid-area: 1 / 2/ 2 /3; }
  .item-info:nth-child(5) { flex:1; }
  .item-info { display: flex; }
  .donation { flex:1;}
  .slider-container * { padding: 0px!important; }

  }
  @media (max-width: 600px) {
    .downloadBtn {
      display: flex;
      flex-flow: wrap;
      flex:1;
    }
    .item-info {
      display: block!important;
    }
    .item-info:nth-child(1) {
      order:2;
    }
    .item-info:nth-child(5) {
      flex:0;
    }
    .small-rSidebar{
      gap: 0!important;
    }
    .item-info:nth-child(3) {
      grid-area: auto;
  }
  }
  @media (max-width: 450px) {
    .small-rSidebar {
    display:grid;
    grid-template-columns: 60% auto; 
    margin: 0; padding: 0;

    * {
      border: 0!important;
    }
  }
  }
  @media(max-width: 1195px) {
      .noScreen {
          display: block;
          overflow: hidden;
      }
      .preview-img {
        visibility: hidden;
        overflow: hidden;
        display: none;
      }
  }
</style>